
*{
    font-family: sans-serif;
}

.bg-primary-color {
    background-color: #2c2b2b;
}

.bg-secundary-color {
    background-color: #ffffff;

}

.bg-dark-color {
    background-color: #050505
}

.primary-color{
    color: #ffffff;
}
.segundario-color{
    color: #7a7a7a
}

/* nav bar */

#navbar{
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover {
    color: #7a7a7a
}

#navbar a.active {
    border-bottom: 1px solid #ffffff;
}
.navbar-brand {
    margin-left: auto;
}

.navbar-brand img {
    width: 80px;
}

.navbar-brand span {
    font-size: 2.0em;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 0.50ex;
}
#navbar-items .navbar-nav{
    justify-content: row;
    width: 100%;
}

#navbar-items .nav-items{
    margin: 0 1em;
}
.nav-icone{
    font-size: 28px;
    justify-content: center;
    color: #ffffff;
    
}
.nav-login{
    font-size: 16.5px;
    border-bottom: 1px solid #ffffff;
    
}

.bi-bag{
    font-size: 35px;
    background: #2c2b2b;
    color: rgb(255, 255, 255);
    margin-left: 30px;
}

.btn-icone{
    padding: 1px;
    color: black;
    font-size: 20px;
}

.nav-search{
    height: 30px;
    max-width: 450px;
    margin-right: 60px;
    margin-left: 10px;
}
.bi-search{
    color: black;
    font-size: 17px;
    margin-right: 100px;
    
}
.input-group-text{
    max-width: 50px;
    height: 38px;
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 812px){
    .navbar .container-fluid{
        width: 100%;
        
    }
    .navbar{
        padding-bottom: .0rem;
    }
    .navbar-brand{
        margin-left: auto;
        margin-right: 2rem;
    }
    .navbar-nav{
        align-items: center;
        flex-direction: row;
        justify-content: row;
    }
    #navbar-items .navbar-nav{
        width: 100%;
        padding-left: 15px;
    }
    .navbar-nav .nav-link{
        padding-right: 10px;
        
    }
    .nav-link{
        padding: .5rem;
    }
    .nav-search{
        margin-left: 10px;
        margin-right: 10px;
    }
    .navbar-toggler{
        font-size: 30px;
        margin-bottom: 20px;
        color: rgb(247, 247, 247);
        background-color: transparent;
        
    }
    .nav-login{
        margin-right: 155px;
        font-size: 14px;
    }
    .nav-icone{
        font-size: 24px;
        left: 10px;
    }
}

